
@{
    ViewData["Title"] = "Index";
}
<header>
    <h2>Bài Tập</h2>
</header>

<section>
    <nav>
        <ul>
            <li>Họ tên: @ViewBag.HoTen</li>
            <li>Mã SV:@ViewBag.MSSV</li>
        
        </ul>
    </nav>

    <article>       
        <img src="~/image/Anh.png" style="width:300px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; @ViewBag.HoTen - @ViewBag.Nam</p>
</footer>